;; shadow-cljs configuration
{:source-paths
 ["cljs"]

 :dependencies
 [[org.clojure/core.async "1.3.618"]
  [org.clojure/core.match "1.0.0"]]
 
 :builds
 {:node {:target :node-library
         :output-to "cljs_dist/core/node/interop.js"
         :exports {:generate-code cljs.core.fn/generate-code
              		;;  :interop cljs.core.fn/interop
         									 }}

  :web {:target :browser
        :output-dir "cljs_dist/core/web"
        :asset-path "/js"
        :modules {:interop {:entries [cljs.core.fn]}}}}}
